body {
  background-color: #69547d;
}

button {
  cursor: pointer;
  padding: 10px;
  border: 2px solid rgb(36, 35, 35);  
  background-color: rebeccapurple;
  color: white;
  font-weight: bold;
  margin: 20px;
  font-size: 1.5em;
}

button:focus {
  outline: none;
}
button:hover {
  opacity: 0.8;
}

.number {
  background-color: thistle;
  border: 2px solid rgb(36, 35, 35);
  margin: 10px;
  padding: 20px;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dice-box {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

span {
  font-size: 3.5em;
}