.navbar {
  position: absolute;
  z-index: 2;
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #333;
  background-color: #fff;
  padding: 20px;

  // @include desktop {
  // }

  h2 {
    font-size: 22px;
  }

  h3 {
    color: #333;
    cursor: pointer;
  }
  
  ul {
    transition: all 0.5s linear;
    padding: 20px;
    // @include flexSetUp(center, baseline, column);
    text-align: left;

    // @include desktop {
    // }

  }

  .open {
    display: block;
    height: auto;
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 60px;
    // visibility: visible;
  }
  
  li {
    text-transform: uppercase;
    padding-left: 50px; 
    font-size: 12px;
  }

  .closed > li {
    // visibility: hidden;
    height: 0;
    overflow: hidden;
    display: none;
  }
  
}
