.navbar {
  position: absolute;
  z-index: 2;
  font-weight: bold;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 100%;
  color: #fff;
  padding: 20px;

  h2 {
    font-size: 22px;
    margin-right: 80px; 
  }
  
  ul {
  display: flex;

  }

  li {
    text-transform: uppercase;
    margin-left: 50px; 
    font-size: 12px;
  }
}
