body {
  background-color: rgb(126, 6, 6);
}

img {
  width: 80%;
  cursor: pointer;
  border-radius: 10px;
}

.all-heroes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.one-hero {
  color: rgb(3, 3, 58);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 40%; */
  margin: 20px;
}

.sweetie {
  background-color: rgb(11, 11, 109) !important;
  font-size: 4em;
}

.swal2-popup .swal2-title, .swal2-popup .swal2-styled.swal2-confirm {
  background-color: rgb(11, 11, 109) !important;
  color: rgb(167, 1, 1) !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
  background-color: rgb(6, 6, 85) !important;

}