* {
  -webkit-font-smoothing: antialiased;
}

.right {
  display: none;
}

aside {
  display: none;
}

.download {
  display: none;
}

body {
  color: #325050;
  background-color: #FFFFFF;
  font-family: 'Libre Baskerville', sans-serif;
}

.italic {
  font-style: italic;
  color: #c0cac3;
}

.underline {
  text-decoration: underline dotted #325050;
}

.colour-change {
  color: rgb(5, 134, 170);
  font-weight: bold;
}
.colour-change:hover {
  text-decoration: underline;
  cursor: pointer;
}

.whole-page {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(30, auto);
  background-image: url('bamboo.png');
  background-attachment: fixed;
}

.header {
  background: #2d6360 50% 0 url('huntington.jpg') no-repeat;
  background-image: url('contours-opaque.png'), url('noise.png'), url('gridlines.png'), url('huntington.jpg');
  background-attachment: fixed, fixed, fixed, scroll;
  background-position: 0 0, 0 0, -5px -25px, 0 50%;
  background-repeat: repeat, repeat, repeat, no-repeat;
  background-size: auto, auto, auto, cover;

  grid-column: span 10;
  grid-row: span 2;
  text-align: center;
  height: 250px;
  border-top: solid 10px rgba(19, 67, 71, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  font-size: 2em;
  margin: 0.5em 0 0 0;
  font-weight: bold;
}

.header > h1::before {
  background-image: url('enso.svg');
  opacity: 0.6;
  margin: 10px auto 20px auto;
  background-size: 100%;
  display: block;
  height: 50px;
  width: 50px;
  content: "";
}

h2 {
  color: rgba(255,255,255,0.6);
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
}

.view-all > p {
  width: 100vw;
  font-weight: bold;
  min-height: 50px;
  color: rgba(255, 255, 255, 0.65);
  font-family: 'Julius Sans One', sans-serif;
  margin: 0px;
  padding: 1.3em 0 0 0;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
}
.view-all {
  cursor: pointer;
  transition: all 0.25s ease-out;
}
.view-all:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.view-all > p:hover {
  color: #ffffff;
}

.view-all > p::after {
  content: ">";
  font-family: 'icomoon';
  font-size: 44px;
  position: absolute;
  right: 15px;
  top: 2px;
}

.main-content1 {
  grid-column: span 10;
  grid-row: span 8;
  background-color: #FFFFFF;
}

.main-content1 p:last-child {
  margin-bottom: 2.5em;
}

p {
  line-height: 1.5;
  font-family: 'Libre Baskerville', sans-serif;
  width: 80%;
  margin: 1em auto;
}

.summary {
  margin-top: 2em;
}

h3 {
  color: #2e484c;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.3em;
  width: 80%;
  margin: 2em auto 0 auto;
}

.main-content2 {
  background-color: rgba(138,188,159,0.5);
  grid-column: span 10;
  grid-row: span 5;
}

.main-content2 p:last-child {
  margin-bottom: 2.5em;
}

.main-content3 {
  background-color: #FFFFFF;
  grid-column: span 10;
  grid-row: span 5;
}

.main-content3 p:last-child {
  margin-bottom: 2.5em;
}

.footer {
  /* background-color: #3e5d67; */
  grid-column: span 10;
  grid-row: span 3;
  color: #FFFFFF;
  text-align: center;
  font-style: italic;
  font-size: 2em;
}

.footer > p > a {
  font-family: 'Libre Baskerville', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-style: normal;
}
.footer > p > a:hover {
  text-decoration: underline;
}

.footer-para {
  width: unset;
  padding: 1.5em 2em;
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
  background: #3e5d67;
  background-image: url('contours-opaque.png'), url('noise.png'), url('gridlines.png'), url('huntington.jpg');
  background-attachment: fixed, fixed, fixed, scroll;
  background-position: 0 0, 0 0, -5px -25px, 0 50%;
  background-repeat: repeat, repeat, repeat, no-repeat;
  background-size: auto, auto, auto, cover;
}

.footer-icons {
  background-color: #134347;
  text-align: center;
  padding: 4% 10%;
  font-size: 42px;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-evenly;
  font-family: 'icomoon';
  font-style: normal;
}

.footer-icons > li {
  transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
  border-radius: 50%;
  margin: 5px;
}

.footer-icons > li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #134347;
  padding: 1px;
  cursor: pointer;
}

.footer-icons > .html::before {
  content: "5";
}
.footer-icons > .cc::before {
  content: "c";
}
.footer-icons > .css::before {
  content: "3";
}
.footer-icons > .access::before {
  content: "a";
}
.footer-icons > .git::before {
  content: "g";
}


.sidebar1 {
  grid-column: span 10;
  grid-row: span 2;
}

.side-links {
  /* background-color: #c0cac3; */
  background-color: #F1F7F4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 80px);
}

.side-links > li {
  border-top: solid 1px #d9e3dc;
  color: #616857;
  font-size: 1em;
  padding: 1.3em 3em 1em 3em;
}

.side-link-title {
  font-family: 'Julius Sans One', sans-serif;
  color: #607476;
  font-size: 1.2em;
}

.sidebar2 {
  background-color: rgba(138,188,159,0.5);
  grid-column: span 10;
  grid-row: span 2;
}

.second-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 70px);
}

.second-links > li {
  font-family: 'Julius Sans One', sans-serif;
  border-top: solid 1px #a0b9ad;
  padding: 1.5em 3em;  
  color: #607476;
}

.second-links > li:hover {
    color: #64A49D;
    cursor: pointer;
}

.side-links > li:hover {
  color: #64A49D;
  cursor: pointer;
}

.side-links > li > .side-link-title:hover {
  color: #64A49D;
  cursor: pointer;
}

@media (min-width: 600px) {

  .right > p:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .header > h1::before {
    display: inline-block;
    margin: 0;
    height: 80px;
    width: 80px;
    position: relative;
    top: 20px;
    right: 20px;
    margin-bottom: -10px;
  }

  h2 {
    padding-left: 6em;
    font-size: 1.2em;
    margin-top: -30px;
  }

  .download {
    display: block;
  }

  .download-text::before {
    color: #a9b995;
    background: #d9e1cd;
    padding: 2px;
    border-radius: 2px;
    content: "D";
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-family: 'icomoon';
    margin-right: 3px;
    transition: all 0.25s ease-out;

  }
  .download-text {
    color: #809b7e;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease-out;
  }
  .download-text:hover {
    background-color: #3D8A9F;
    color: #ffffff;
    padding: 5px;
    padding-top: 7px;
  }

}

@media (min-width: 1130px) {


  .header {
    justify-content: center;
    position: relative;
  }

  .header > h1::before {
    width: 120px;
    height: 120px;
    opacity: 1;
    margin-bottom: -25px;
  }

  .view-all {
    display: none;
  } 

  .view-all > p::after {
    top: -8px;
    border-left: 2px solid rgba(19, 67, 71, 0.2);
    padding-left: 15px;
  }

  .right {
    display: unset;
    position: absolute;
    top: 0;
    right: 0;
    height: -webkit-fill-available;
    width: 30%;
    background: rgba(19, 67, 71, 0.2);
    /* background-color: rgba(255, 255, 255, 0.15); */
  }

  .right > p {
    display: unset;
    position: absolute;
    top: 35%;
    right: 15px;
    height: unset;
    width: 65%;
    padding-right: 70px;
  }

  .header > h1 {
    font-size: 4em;
    margin-top: 0;
    margin-left: -400px;
  }

  h2 {
    padding-left: 0;
    font-size: 1.8em;
    margin-left: -450px;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  aside {
    display: unset;
    background-color: #E5EDE7;
    grid-column: span 7;
    grid-row-start: 20;
  }

  .footer {
    grid-row-start: 26;
  }

  .footer-icons {
    font-size: 72px;
    padding: 30px 50px 60px 50px;
    /* height: 70px; */
  }

  .sidebar1 {
    grid-column: 8 / span 10;
    grid-row-start: 3;
    /* grid-row: span 8; */
  }

  .main-content1 {
    grid-row-start: 3;
    grid-column: span 7;
  }

  .main-content2 {
    grid-column: span 7;
    grid-row: span 3;
    padding: 1em auto;
  }

  .main-content3 {
    grid-column: span 7;
    grid-row-start: 20;
  }

  p {
    line-height: 2;
  }

  .summary {
    margin-top: 4.5em;
  }

  .side-links {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 100px);
    padding: 3.5em 0;
    padding-bottom: 7.5em;
  }

  .side-links > li:first-child {
    border-top: none;
  }
  .side-links > li:last-child {
    border-bottom: none;
  }

  .side-links > li {
    border-bottom: solid 1px #d9e3dc;
    color: #616857;
    font-size: 1em;
    padding: 2em 0 1em 0;
    margin: 0 4.5em;
  }

  .sidebar2 {
    background-color: rgba(138,188,159,0.6);
    grid-row: span 3;
  }

  .second-links {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 80px);
    padding-top: 6em;
    padding-bottom: 5.5em;
    display: flex;
    flex-direction: column;
  }

  .second-links > li {
    border-bottom: solid 1px #a0b9ad;
    color: #616857;
    font-size: 1em;
    padding: 2em 0;
    margin: 0 4.5em;
  }

  .second-links > li:last-child {
    display: none;
  }

}