form, .badge {
  margin: 20px;
  display: grid;
  grid-gap: 10px;
  border-radius: 10px;
}
p {
  margin: 0;
}
form, .badge, button, textarea, input, .info {
  color: #2e2e2e;
  border: 2px solid #555555;
}

form {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  border-radius: 10px;
  padding: 20px 40px;
}

button {
  cursor: pointer;
  width: 20%;
  margin: 10px auto;
  border-radius: 10px;
  background-color: rgba(184, 184, 184, 0.4);
}

textarea, button {
  grid-column: span 2;
}

button:focus, input:focus, textarea:focus {
  outline: none;
}
button:hover {
  background-color: rgba(184, 184, 184, 0.6);
}

.badge {
  grid-template-areas: 
      "header header"
      "name phone"
      "birth food"
      "email email"
      "info info";
}
.name {
  grid-area: name;
}
.phone {
  grid-area: phone;
}
.email {
  grid-area: email;
  grid-column: span 2;
}
.food {
  grid-area: food;
}

form > * {
  padding: 5px 20px;
}

.badge > * {
  padding: 10px 40px;
}

header {
  grid-area: header;
  border-radius: 7px 7px 0 0;
  background-color: #555555;
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
}

.info {
  grid-area: info;
  grid-column: span 2;
  margin: 5px 35px 20px 35px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
