body {
  text-align: center;
  margin: 10px;
}

.all-bounties {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  width: 60%;
}

.bounty-box {
  width: 40%;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}