.nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav > a {
  color: #EDEDED;
  width: 100%;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
  transition: all .3s ease;
}

.nav > a:hover {
  color: #073C5F;
}

a {
  text-decoration: none;
}

.whole-page {
  width: 100%;
  background-color: #EDEDED;
  text-align: center;
  font-family: 'Paytone One', sans-serif;
  letter-spacing: 1px;
}

/* Colors in ColorDetail.js */
.colors {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* Individual colours */
.color-box {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* box-shadow: 2px 2px 2px #333, -1px -1px 1px #333; */
  color: #FFF;
  text-shadow: 1px 1px 1px #333, -1px -1px 1px #333;
  padding-bottom: 20px;
  font-weight: bold;
}
.color-box > p {
  margin: 5px;
  letter-spacing: 3px;
}

/* Adding a curve to create a bottom nav bar */

.color-box:last-child {
  border-bottom-right-radius: 50% 25%;
}

.color-box:nth-last-child(2) {
  border-bottom-left-radius: 50% 25%;
}

/* Div in ReturnedList.js containing the image and the ColorDetail.js component */
.returned-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.returned-list > img {
  width: 100%;
}

.returned-list > button {
  width: 100%;
  margin: 0;
  border-radius: 0;
}

/* UploadForm.js */
.upload-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/splat.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.upload-form > form > h1 {
  color: #ededed;
  font-size: 42px;
  margin-bottom: 0px;
  letter-spacing: 4px;
}

.upload-form > form > label {
  color: #748FA0;
  font-size: 22px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.upload-form > form > p {
  margin: 10px;
  font-weight: bold;
  color: #EDEDED;
  font-size: 20px;
  letter-spacing: 1px;
}

.upload-form > form {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.upload-form > form > input, button {
  font-family: 'Paytone One', sans-serif;
  margin: 10px;
  border-radius: 20px;
  /* box-shadow: 1px 1px 1px rgb(91, 116, 131); */
  border: none;
  font-size: 22px;
  padding: 8px;
  border: 3px solid #748FA0;
}

input {
  color: #073C5F;
  padding-left: 12px;
  background-color: #ededed;
  text-align: center;
  transition: all .3s ease;
}

input:hover {
  opacity: 0.95;
}

input:focus, button:focus {
  outline: none;
}

button {
  cursor: pointer;
  background-color: #748FA0;
  color: #FFF;
  letter-spacing: 1px;
  transition: all .3s ease;
}

button:hover {
  background-color: #073C5F;
}

@media (min-width: 570px) {
  /* .nav {
    height: 200px;
    transform: translateY(-70px);
  } */

  .colors {
    width: 100%;
  }
  
  .color-box {
    width: 33.33%;
  }
}

@media (min-width: 1000px) {
  .color-box {
    width: 50%;
  }
  .color-box:nth-child(2) {
    transform: skew(0deg, -10deg);
    transform-origin: left;
  }

  .color-box:nth-child(2) > p {
    transform: skew(-10deg, 10deg);
  }

}