/* Page Fade Transition */
.page-fade-appear {
  opacity: 0;
  /* position: absolute; */
}

.page-fade-appear.page-fade-appear-active {
  opacity: 1;
  transition: opacity 600ms linear;
}

.page-fade-enter {
  opacity: 0;
  /* position: absolute; */
}

.page-fade-enter.page-fade-enter-active {
  opacity: 1;
  transition: opacity 600ms linear;
}

.page-fade-exit {
  opacity: 1;
  /* position: absolute; */
}

.page-fade-exit.page-fade-exit-active {
  opacity: 0;
  transition: opacity 600ms linear;
}

/*  random color page */
.random-colors {
  height: -webkit-fill-available;
  width: 100vw;
  /* background-color: #748FA0; */
  background: center no-repeat/cover url('./assets/mini-splat.svg');
}

.random-color {
  height: 200px;
  width: 200px;
}

.random-color > p {
  color: #EDEDED;
  text-shadow: 1px 1px 1px #073C5F, -1px -1px 1px #073C5F;
  margin: 5px;
  letter-spacing: 3px;
}

/* Navbar component */
.nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav > a, h2 {
  cursor: pointer;
  color: #EDEDED;
  text-shadow: 1px 1px 1px #073C5F, -1px -1px 1px #073C5F;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
  transition: all .3s ease;
}

.nav > a:hover {
  color: #073C5F;
  text-shadow: none;
}

.nav > h2:hover {
  color: #073C5F;
  text-shadow: none;
}

a {
  text-decoration: none;
}

/* splat image link */
.nav > a:last-child {
  position: absolute;
  width: 20% !important;
  height: auto !important;
  left: 2%;
  top: 2%;
  cursor: pointer;
  transform: scale(1);
  filter: drop-shadow(.5px .5px .5px #073C5F);
  opacity: 0.6;
  transition: all .5s ease;
}

.nav > a:last-child:hover {
  transform: scale(2);
  opacity: 1;
}

.splat {
  position: relative;
  bottom: 120px;
  right: 20px;
  cursor: pointer;
  transform: scale(1);
  filter: drop-shadow(1px 1px 1px #073C5F);
  transition: all .5s ease;
}
.splat:hover {
  transform: scale(2);
}

/* The div which contains everything */
.whole-page {
  width: 100%;
  background-color: #EDEDED;
  text-align: center;
  font-family: 'Paytone One', sans-serif;
  letter-spacing: 1px;
}

.upload-form > img {
  position: absolute;
  width: 30%;
  right: 10%;
  top: 5%;
  cursor: pointer;
  transform: scale(1);
  transition: all .5s ease;
}

.upload-form > img:hover {
  transform: scale(1.1);
}

/* Colors in ColorDetail.js */
.colors {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* Individual colour boxes */
.color-box {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #EDEDED;
  padding-bottom: 20px;
  font-weight: bold;
}

.color-box > p {
  text-shadow: 1px 1px 1px #073C5F, -1px -1px 1px #073C5F;
  margin: 5px;
  letter-spacing: 3px;
}

/* Div in ReturnedList.js containing the image input by the user and the ColorDetail.js component */
.returned-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.returned-list > img {
  width: 100%;
}
/* 
.returned-list > button {
  width: 100%;
  margin: 0;
  border-radius: 0;
} */

/* UploadForm.js */
.upload-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center no-repeat/cover url('./assets/splat.svg');
  -webkit-transition: background 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: background 1s ease-in-out;
}

.upload-form > form > h1 {
  color: #ededed;
  font-size: 42px;
  margin-bottom: 0px;
  letter-spacing: 4px;
  text-shadow: 1px 1px 1px #073C5F, -1px -1px 1px #073C5F;
}

.upload-form > form > label {
  color: #748FA0;
  font-size: 22px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.upload-form > form > p {
  margin: 10px;
  font-weight: bold;
  color: #EDEDED;
  font-size: 20px;
  letter-spacing: 1px;
}

.upload-form > form {
  display: flex;
  flex-direction: column;
  width: 60%;
  transition: all 1s ease-in-out;
}

.upload-form > form > input, button {
  font-family: 'Paytone One', sans-serif;
  margin: 10px;
  border-radius: 20px;
  border: none;
  font-size: 22px;
  padding: 8px;
  border: 3px solid #748FA0;
}

input {
  color: #073C5F;
  padding-left: 12px;
  background-color: #ededed;
  text-align: center;
  transition: all .3s ease;
}

input:hover {
  opacity: 0.95;
}

input:focus, button:focus {
  outline: none;
}

button {
  cursor: pointer;
  background-color: #748FA0;
  color: #FFF;
  letter-spacing: 1px;
  transition: all .3s ease;
}

button:hover {
  background-color: #073C5F;
}

/* If the array of colours is an odd number, add this styling so the last item spans the width of the page */

/* .color-box:last-child {
  width: 100%;
} */
.two:last-child {
  width: 100%;
}

@media (min-width: 570px) {

  .colors {
    width: 100%;
  }

  .color-box {
    width: 50%;
  }

  /*  Adding a skew effect to the second box of colour */
  .color-box:nth-child(2) {
    transform: skew(0deg, -10deg);
    transform-origin: left;
  }

  .color-box:nth-child(2) > p {
    transform: skew(-10deg, 10deg);
  }

  .returned-list {
    overflow: hidden;
  }

}

@media (min-width: 750px) {

  .returned-list > img {
    height: 100vh;
    width: auto;
  }

  /* add styling to make image and boxes sit side by side in desktop view */
  

}