body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.whole-page {
  overflow-x: hidden;
  height: 100vh;
}

// font-family: 'Lora', "Times New Roman", serif;