@mixin flexSetUp($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin bg-image($position: center, $repeat: no-repeat, $size: cover) {
  background-position: $position;
  background-repeat: $repeat; 
  background-size: $size;
}