.whole-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.beautiful-thing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 30%;
  border: 2px solid blue;
}

img {
  width: 80%;
}

form {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}