.whole-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.beautiful-thing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 30%;
}

img {
  width: 80%;
}